.idea*
.env*
*.terraform*
.vscode
argocd/
venvrag/
__pycache__/
*.DS_Store
**/localizing_url_list.py
pinecone_pipeline/orchestrator.py
pinecone_pipeline/semantic_orchestrator.py
pinecone_pipeline/update_scripts/updater.py
pinecone_pipeline/update_scripts/semantic_updater.py
