.idea*
.env*
*.terraform*
.vscode
venvbot/
__pycache__/
*.DS_Store
trashbin/
**/localizing_url_list.py
system_prompt_eng.txt
system_prompt_fr.txt
classifier_prompt.txt
Dockerfile
terraform/
argocd/
tests/