openai==1.17.0
pinecone-client==3.0.1
python-dotenv==1.0.0
uuid
pathlib
uvicorn==0.27.0
fastapi==0.109.1
slowapi
httpx==0.26.0
tiktoken==0.6.0
bs4
semantic-router==0.0.20
apscheduler
cohere==4.44
asyncio
langchain==0.1.16
langchain_experimental 
langchain_openai
