openai==1.30.1
pinecone-client==4.0.0
python-dotenv==1.0.0
uuid
pathlib
uvicorn==0.27.0
fastapi==0.109.1
slowapi
httpx==0.26.0
tiktoken==0.5.2
bs4
apscheduler
cohere==5.5.0
asyncio
langchain==0.1.20
langchain_experimental==0.0.58
langchain_community==0.0.38
crewai==0.30.11
crewai_tools==0.2.6
jinja2
sounddevice
wavio
